* {
    Margin: 0;
    Padding: 0;
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url(SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: Avenir;
    src: url(Avenir.ttc);
}

html {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}

body {
    margin: 50px;
    height: 667px;
    width: 375px;
    overflow: scroll;
    border: 1px solid black;
    color: white;
    text-align: center;
    background-color: black;
    position: relative;
    border-color: white;
    font-family: Avenir;
}

h1 {
    font-size: 30pt;
    font-family: SourceSansPro-Regular;
}

h2 {
    font-family: SourceSansPro-Regular;
}

header {
    color: red;
    display: flex;
    justify-content: space-evenly;
    font-size: 40pt;
    font-family: SourceSansPro-Regular;
}

footer {
    color: red;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    width: 375px;
    font-size: 30pt;
    font-family: SourceSansPro-Regular;
}

section {
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

section div {
    width: 50%;
    margin-top: 20px;
}

section div a {
    color: white;
    text-decoration: none;
}

img {
    border-radius: 10px;
}

footer {
    max-width: 100%;
}

footer img {
    height: 100%;
}

footer p {
    white-space: nowrap;
}